[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/pydoc"]
	path = vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
	ignore = untracked
[submodule "vim/bundle/flake8"]
	path = vim/bundle/flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/color-github"]
	path = vim/bundle/color-github
	url = https://github.com/zachwill/github.vim.git
[submodule "vim/bundle/color-zenburn"]
	path = vim/bundle/color-zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "vim/bundle/color-solarized"]
	path = vim/bundle/color-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "urxvt/perls"]
	path = urxvt/perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule "bundle/indent-mako"]
	path = bundle/indent-mako
	url = https://github.com/vim-scripts/mako.vim--Torborg.git
